<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="test suite">
     <classes>
         <class  name="org.mikehenze.alexnova.testcases.RegistrationTests"/>
         <class name="org.mikehenze.alexnova.testcases.LogInTests"/>
         <class name="org.mikehenze.alexnova.testcases.SearchProductTests"/>
         <class name="org.mikehenze.alexnova.testcases.ProductCartTests"/>
         <class name="org.mikehenze.alexnova.testcases.GiftCardTests"/>
         <class name="org.mikehenze.alexnova.testcases.CheckoutTests"/>
     </classes>
    </test>
</suite>